.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 7px;
  margin: 0.5em;
  border: solid;
  border-color: purple;
  box-shadow: 0 0 100px rgba(255, 0, 234, 0.212);
  border-style: solid;
  padding: 1em;
  border-radius: 1.5em;
  max-width: 100px;
  margin-left: auto;
  margin-right: 5%;
  transition: 0.2s;
}

.user-info:hover {
  background-color: rgba(128, 0, 128, 0.521);
  cursor: pointer;
  transition: 0.2s;
}

.walleticon-userinfo {
  max-width: 20px;
  margin-right: 0.5em;
}

.userinfo-address {
  padding: 0;
  margin: 0;
  font-size: smaller;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: fit-content;
}

.error-text {
  color: red;
  margin: 0;
  padding: 0;
}
