.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 7px;
  margin: 0.5em;
  border: none;
  padding: 1em;
  border-radius: 1.5em;
  max-width: 100px;
  margin-left: auto;
  margin-right: 5%;
  transition: 0.2s;
  background-color: var(--inventory-blue);
}

.user-info:hover {
  box-shadow: 0 0 10px var(--inventory-blue);
  cursor: pointer;
  transition: 0.2s;
}

.walleticon-userinfo {
  max-width: 20px;
  margin-right: 0.5em;
}

.userinfo-address {
  padding: 0;
  margin: 0;
  font-size: smaller;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: fit-content;
}

.error-text {
  color: red;
  margin: 0;
  padding: 0;
}
