.navbar {
  display: flex;
  justify-content: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #090a1e;
  z-index: 2;
}

.navbar > li {
  text-decoration: none;
  list-style: none;
}

.nav-text {
  font-family: "Neue Haas";
  font-size: 1.75rem;
  font-weight: normal;
  color: white;
  margin-left: 2em;
  transition: 0.2s;
}

.navbar:hover .nav-text {
  filter: drop-shadow(0 0 10px white);
  transition: 0.2s;
}

.navbar:hover .nav-logo {
  filter: drop-shadow(0 0 10px white);
  transition: 0.2s;
  cursor: pointer;
}

.nav-text a {
  text-decoration: none;
  color: white;
}

.nav-logo {
  margin-left: 3em;
  transform: translateY(-3px);
  max-height: 1.75rem;
  transition: 0.2s;
}
