.nft-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 80vw;
  transition: 0.2s;
}

.nft-screen-bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  left: 0;
  right: 0;
  z-index: -1;
  position: fixed;
  filter: blur(20px);
  transition: 0.2s;
}

.nft-chunk {
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, 100%);
  z-index: 999;
  row-gap: 40px;
}

@media (min-width: 1200px) {
  .nft-chunk {
    grid-template-columns: repeat(auto-fill, 32%);
    max-width: 100%;
    z-index: 999;
  }
}

.nft-card {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  border: solid 2px;
  border-color: var(--inventory-blue);
  max-width: 95vw;
  width: 300px;
  height: 450px;
  background: none;
  transition: 0.2s;
  margin-bottom: 2em;
  z-index: 1;
  box-shadow: 4px 1px 7px var(--inventory-blue);
  margin: 0 auto;
}

.nft-card:hover {
  cursor: pointer;
  background-color: rgba(136, 136, 136, 0.192);
}

/* .nft-card.active {
  height: fit-content;
  border: solid;
  border-color: purple;
  background-color: rgba(128, 0, 128, 0.562);
  box-shadow: 0 0 50px rgba(255, 0, 234, 0.274);
  transition: 0.2s;
} */

.nft-image {
  max-width: 95%;
  margin: 1em;
  margin-bottom: 0;
}

.nft-title {
  margin-bottom: 0;
  font-family: "Neue Haas";
  font-size: medium;
  margin-top: 1em;
}

.nft-dropdown {
  display: flex;
  flex-direction: column;
  background: none;
  color: white;
}

.claiminfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

label {
  text-align: center;
  color: white;
}

.nft-size-options {
  border: solid 2px;
  border-color: var(--inventory-blue);
  background: none;
  color: white;
  padding: 0.5em;
}

option {
  color: rgb(255, 255, 255);
  background-color: #090a1e;
}

.title {
  width: 100vw;
  text-align: center;
  font-size: 50px;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.651));
}

.nft-quantity {
  font-size: smaller;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}

.manifest-btn {
  margin-top: 0.5em;
  background-color: var(--inventory-blue);
  font-weight: bold;
  color: white;
  padding: 0.25em;
  width: 8rem;
  transition: 0.2s;
  border: none;
}

.manifest-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 5px var(--inventory-blue);
  transition: 0.2s;
}
