body {
  font-family: sans-serif;
  background-color: #070719;
}

.parent-flex {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 1s;
}
.wrap .column {
  align-self: stretch;
  flex: 1 0 0;
  margin: 10px;
  overflow: hidden;
  padding: 20px 30px;
  text-align: left;
  transition: all ease-in-out 1s;
}
.wrap .column .img {
  display: block;
  flex: 100% 0;
  margin: 0 auto;
  text-align: center;
  cursor: crosshair;
  transition: all ease-in-out 1s;
}
.wrap .column .img img,
svg {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  padding: 10px;
  transition: all ease-in-out 1s;
}

.wrap .column .copy-container {
  flex: 1 0;
  height: 0px;
  opacity: 0;
  transition: all ease-in-out 1s;
}

.wrap .column:hover {
  cursor: pointer;
  flex: 50% 0;
  transition: all ease-in-out 1s;
}

@media screen and (min-width: 2000px) {
  .wrap .column:hover {
    flex: 30% 0;
  }
}

@media screen and (min-width: 3000px) {
  .wrap .column:hover {
    background-color: red;
    flex: 20% 0;
  }
}

/* todo rename .img to .image */
.wrap .column:hover .img {
  flex: 200px 0;
  margin: 0 10px 0 10px;
  transition: all ease-in-out 1s;

  animation: breathing 2.5s ease-out infinite normal;
  -webkit-animation: breathing 2.5s ease-out infinite normal;
}

.wrap .column:hover .img svg {
  width: 150px;
  height: 150px;
  margin-top: 25px;
  transition: all ease-in-out 1s;
}

#Line51,
#Line52 {
  opacity: 0;
  transition: all ease-in-out 1s;
}
.wrap .column:hover #Line51,
.wrap .column:hover #Line52 {
  opacity: 0.684;
  transition: all ease-in-out 1s;
}

#a,
#b,
#c,
#Vector,
#Group\ 195_2 {
  opacity: 0;
  transition: all ease-in-out 1s;
}

.wrap .column:hover #a,
.wrap .column:hover #b,
.wrap .column:hover #c,
.wrap .column:hover #Vector,
.wrap .column:hover #Group\ 195_2 {
  opacity: 0.684;
  transition: all ease-in-out 1s;
}

/* scaling down the images background glow */
path#Ellipse\ 54,
#Ellipse\ 55,
#Ellipse\ 56 {
  transform: scale(0.7);
  transform-origin: center;
}

.wrap .column:hover .copy-container {
  flex: 1 0;
  line-height: 17px;
  opacity: 1;
  color: white;
  transition: all ease-in-out 1s;
}

.wrap .column:hover .copy-container p {
  font-size: 14px;
  transition: all ease-in-out 1s;
}

.wrap .column:hover .copy-container-content {
  opacity: 1;
  transition: all ease-in-out 2s;
}

.copy-container-content {
  opacity: 0;
  border-left: solid 1px #ffffff4d;
  padding-left: 5px;
  transition: all ease-in-out 1s;
}

@media only screen and (max-width: 705px) {
  .parent-flex {
    flex-direction: column;
    transition: all ease-in-out 1s;
  }
  .wrap .column .copy-container {
    flex: none;
    transition: all ease-in-out 1s;
  }
  .wrap .column .img img,
  svg {
    width: 100px;
    height: 100px;
    transition: all ease-in-out 1s;
  }
  .wrap .column:hover .img {
    margin: 0 auto;
    transition: all ease-in-out 1s;
  }
  .wrap .column:hover .img svg {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.call-to-action-container {
  flex: auto;
  display: block;
  width: 100%;
  transition: all ease-in-out 1s;
}

.manifest .create .own {
  transition: all ease-in-out 1s;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
  padding: 8px 16px;
}

.call-to-action-name {
  padding: 5px;
  margin-right: 50px;
}
