.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  border: none;
  padding: 1em;
  width: 10em;
  color: white;
  background-color: rgb(97, 2, 134);
  border-radius: 1.5em;
  font-weight: bold;
  margin: 1em;
  transition: 0.2s;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.486);
}

.btn:hover {
  transform: translateY(-5px);
  cursor: pointer;
  box-shadow: 0 0 10px white;
  box-shadow: 0 0 20px rgb(255, 0, 242);
}
