body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #090a1e;
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(92, 0, 116); /* color of the tracking area */
  border-radius: 1.5em;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(204, 0, 255); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Neue Haas";
  src: url("./fonts/NeueHaas/NeueHaasDisplayBlack.ttf");
  src: url("./fonts/NeueHaas/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas";
  src: url("./fonts/NeueHaas/NeueHaasDisplayBlackItalic.ttf");
  src: url("./fonts/NeueHaas/NeueHaasDisplayBlackItalic.ttf") format("truetype");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas";
  src: url("./fonts/NeueHaas/NeueHaasDisplayBold.ttf");
  src: url("./fonts/NeueHaas/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas";
  src: url("./fonts/NeueHaas/NeueHaasDisplayBoldItalic.ttf");
  src: url("./fonts/NeueHaas/NeueHaasDisplayBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas";
  src: url("./fonts/NeueHaas/NeueHaasDisplayLight.ttf");
  src: url("./fonts/NeueHaas/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas";
  src: url("./fonts/NeueHaas/NeueHaasDisplayLightItalic.ttf");
  src: url("./fonts/NeueHaas/NeueHaasDisplayLightItalic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas";
  src: url("./fonts/NeueHaas/NeueHaasDisplayMediu.ttf");
  src: url("./fonts/NeueHaas/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas";
  src: url("./fonts/NeueHaas/NeueHaasDisplayMediumItalic.ttf");
  src: url("./fonts/NeueHaas/NeueHaasDisplayMediumItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --inventory-blue: #7d7ed5;
}
