.inventory {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-image: url(../../assets/background.png);
  background-size: cover;
  background-attachment: fixed;
}

.inventory-nav {
  margin-top: 10px;
  width: 100%;
  transition: 0.2s;
}

.inventory-title {
  font-family: "Neue Haas";
  font-weight: lighter;
  margin-left: 15%;
  margin-right: auto;
  margin-top: 0;
  font-size: 3rem;
  transition: 0.2s;
}

.inventory-nav-bg {
  margin-top: 10px;
  width: 100%;
  filter: blur(5px);
  transition: 0.2s;
}

.inventory-title-bg {
  font-family: "Neue Haas";
  font-weight: lighter;
  margin-left: 15%;
  margin-right: auto;
  margin-top: 0;
  font-size: 3rem;
  filter: blur(10px);
  transition: 0.2s;
}

.inventory-title::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--inventory-blue);
  min-width: 80vw;
  height: 1px;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 7px;
  margin: 0.5em;
  border: none;
  padding: 1em;
  color: black;
  border-radius: 1.5em;
  font-weight: bold;
  margin-left: auto;
  margin-right: 5%;
  transition: 0.2s;
  background-color: var(--inventory-blue);
}

.login-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 5px var(--inventory-blue);
  transition: 0.2s;
}
